#productImage{
    padding: 5px;
    text-align: center;
    margin: 5px;
}

#productInfo{
    padding: 5px;
    text-align: center;
    margin: 5px;
}

#welcomeMain{
    color: #92E601;
    text-align: center;
}

#featuredDiv{
    align-items: center;
}

#needCaffeine{
    /* margin-left: 50px; */
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 150px;
    text-align: center;
    padding: 5px;
}