#productTable{
    /* width: 75%;
    width: auto; */
    margin-left: auto;
    margin-right: auto;
    /* margin-top: 50px; */
    margin-bottom: 100px;
}

#currentProductsHeader{
    margin-top: 100px;
}

#tableCell{
    color: #92E601;
    text-align: center;
}

#dashboardHeader{
    text-align: center;
}

#reviewTable{
    /* width: 75%;
    width: auto; */
    margin-left: 200px;
    margin-right: 200px;
    /* margin-top: 50px; */
    margin-bottom: 100px;
}

#submitButton{
    margin: 20px;
}

#addNew{
    margin-top: 10px;
}